
# Env
.env
myenv/
venv/

# Static folder at project root
/static/

# Windows
Thumbs.db*
ehthumbs*.db
[Dd]esktop.ini
$RECYCLE.BIN/

# Visual Studio
.vscode/
.history/
*.code-workspace

# Distribution / packaging
.Python
venv/
env/
*.sqlite3
.idea/
# Project asset folders
media/
# Database
db.sqlite3
# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class